{% extends "base.html" %}
{% load static %}


<head>
  {% block head %}

  <title>
    {% block title %}
    blogname &mdash; detailpage
    {% endblock title %}
  </title>
  {% endblock head %}


</head>
<!-- <link rel="stylesheet" href="css/style.css"> -->

{% block body %}


<!-- navbar start -->




<div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">

  <div class="container">
    <div class="d-flex align-items-center">

      <div class="mr-auto">

        <nav class="site-navigation position-relative text-right" role="navigation">


          <ul class="site-menu main-menu js-clone-nav mr-auto d-none pl-0 d-lg-block">
            <li>
              <a style="font-size: x-large;" class="active" href="{% url 'blogsite:home' %}">
                Home
              </a>

            </li>
            {% for category  in navbar_items  %}

            <li class="nav-link text-left nav-item dropdown" is="dropdown">
              <div style="cursor: pointer;" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{category.name}}
              </div>

              <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                {% for sub in category.categories.all  %}


                <a class="dropdown-item" href="{% url 'blogsite:category' sub.id sub.category %}">
                  {{sub.name}}
                </a>
                {% endfor %}
              </div>

            </li>

            {% endfor %}
          </ul>

        </nav>

      </div>

    </div>
  </div>

</div>

</div>

<!-- navbar end -->

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 single-content">
        <h1 id="heading" class="lead text-capitalize" style="margin-bottom: 10%;">
          {{articles.title }}
        </h1>
        <p class="mb-5">
          <img src="{{articles.image.url}}" alt="Image" class="img-fluid" style="height: 500px; width: 600;">
        </p>



        <div class="post-meta d-flex mb-5">
          <div class="bio-pic mr-3">

            <img src="{{articles.created_by.profile.url}}" alt="Image" class="img-fluid">
          </div>
          <div class="vcard">
            <h1 style="font-weight: 900;" class="d-block">by <a class="text-danger"
                href="{% url 'blogsite:author_list' articles.created_by %}">{{articles.created_by.get_full_name}}</a>
            </h1>
            <h1 class="date-read">{{articles.date_updated}} </h1>

          </div>
        </div>

        <!-- share -->
        <div class="" >
          <div class="section-title">

            <ul class="icons">
              <li>SHARE </li>
              <li class="lishare"><a href="https://twitter.com/intent/tweet?" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=%20' +
                               encodeURIComponent(document.title) + ':%20 ' +
                               encodeURIComponent(document.URL)); return false;">
                  <i class="icon-twitter"></i></a>
              </li>

              <li class="lishare"><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook"
                  target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='
                               + encodeURIComponent(document.URL) + '&t='
                               + encodeURIComponent(document.URL)); return false;">
                  <i class="icon-facebook"></i>
                </a></li>

              <li class="lishare"><a href="https://www.whatsapp://send?text=" title="Share On Whatsapp" onclick="window.open('whatsapp://send?text=%20*{{ articles.title }}* %2D '
                                       + encodeURIComponent(document.URL)); return false;">
                  <i class="icon-whatsapp"></i>
                </a></li>

                
            </ul>
            
          </div>
          <!-- commnt start -->
          <div class="fb-comments" data-href="{% url 'blogsite:detail' articles.slug articles.id %}" data-width=""
            data-numposts="5"></div>


          <!-- comment end -->

        </div>

        <!-- end share -->
        <h1 style="font-size: 3em; " id="story">
          {{articles.story|safe}}
        </h1>


        <div class="">
          <p class="popular_post">Categories: <a
              href="{% url 'blogsite:category'  articles.subcategory.id articles.subcategory.name %}">{{articles.subcategory.name}}</a>
            <ul class="">
             {% if  articles.source %}
             <h1>source : <a href="{{articles.source}}" target="_blank"
              rel="noopener noreferrer">{{articles.source}}</a> </h1>
          <h2>Tags</h2>
             {% endif %}
              {% for tag in articles.tags.all %}

              <ul style="display: inline;">
                <li class="" style="display: inline;">
                  {% if tag %}
                  <a class="btn text-light tags" href="{% url 'blogsite:post_tags' tag %}"><h5>{{ tag| title }}</h5></a>

                  {% endif %}
                </li>
              </ul>

              {% endfor %}

        </div>


</div>

<hr>
        <div class="col-lg-4 ml-auto">
          <div class="section-title">
            <hr class="bg-danger">
            <h1 style="font-weight: 900;margin-top: 2em;">Popular Posts</h1>
          </div>
          {% for popular_post in popular_post|slice:':6'  %}
          <div class="trend-entry d-flex pl-0">




            <div class="number align-self-start">{{forloop.counter}}</div>
            <div class="trend-contents">
              <a class="popular_post" class="icon-keyboard_arrow_right"
                href="{{popular_post.get_absolute_url}}"><h1 style="font-weight: bold;">{{popular_post.title|truncatechars:100}}</h1></a>
              <div class="post-meta">
                <span class="d-block"><a href="#">{{popular_post.subcategory.name}}</a> in
                  {{popular_post.subcategory.category.name}}<a href="#"></a></span>
                <span class="date-read">{{popular_post.date_updated}} </span>
                <span class="icon-eye text-info"> {{popular_post.total_views}} </span>

              </div>
            </div>


          </div>
          {% endfor %}


          <p>
          </p>
        </div>


      </div>

    </div>
  </div>






</div>
<!-- .site-wrap -->


<!-- loader -->

<!-- <script src="{% static "js/main.js" %}"></script> -->



<style>
  h2 {
    font-size: xx-large;
  }

  .nav-item {
    cursor: pointer;
    font-size: x-large;
  }

  .dropdown-item:hover {
    background-color: bisque;
  }

  #heading {

    font-size: 4em;
    font-weight: 900;

  }



  .popular_post {
    font-size: 2em;
    font-weight: 900;
  }

  .popular_post:hover {
    color: black
  }

  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .lishare {
    display: inline;
    margin: 6%;
    font-size: 50px;
  
  }

  .btntag {
    display: inline;
    /* margin: 1%; */
    font-size: 40px;
  }
  .tags:hover{
  color: rgb(201, 16, 87);
  }
</style>



{% endblock body %}